.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.conteiner-main-nav {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
    margin: 0 auto;
    justify-content: space-between;
}
.conteiner-footer {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}