.conteiner {

    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 100%;
    @media screen and (min-width:480px) {
        width: 480px;
    }
        @media screen and (min-width:768px) {
            width: 768px;
            
        }
                @media screen and (min-width:1200px) {
                    width: 1200px;
                }
}

.conteiner-main-nav {
    display: flex;
    
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;
    
    border-bottom: 1px solid #ECECEC;
    margin: 0 auto;
    justify-content: space-between;
}
.conteiner-footer {
  @media screen and (min-width:768px) {
        padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
            width: 100%;

    }


    @media screen and (min-width:1200px) {
            display: flex;
                width: 1200px;
                padding-left: 15px;
                padding-right: 15px;
                margin: 0 auto;
        }
    
}
.conteiner-logo-address {
    @media screen and (min-width:480px) {
            text-align: center;
            
        }
                @media screen and (min-width:768px) {
                    
                    margin-left: 76px;
                    
        
                }
                                @media screen and (min-width:1200px) {
                                   margin: 0;
                                   text-align: left;
                                }
}