.footer {
    background-color: #2F303A;
    padding-top: 49px;
    padding-bottom: 49px;
}
.footer .logo,
.aaddress__link {
    color: var(--primary-white-color);
}

.address__list {
    padding: 0px;
}

.address__item {
    padding-bottom: 9px;
}

.address__list .address__item:last-child {
    padding-bottom: 0px;
}

.address__link {
    color: rgba(255, 255, 255, 0.6)
}

.join {
    margin-left: 70px;
&__comein {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
.media {
    list-style: none;
    margin-bottom: 30px;
    display: flex;
    padding: 0;
    &__item:not(:last-child) {
            margin-right: 10px;
        }
}
.media__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    &:hover {
            background-color: var(--accent-color);
            border-radius: 50%;
            color: var(--primary-white-color);
        }

}
.email__come {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 93px;
}
.follow {
    width: 109px;
    height: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.box {
    margin-left: 93px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.box__email {
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 358px;
    height: 50px;
    background: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    border: none;
}

.icon-icon-send {
    width: 24px;
    height: 24px;
}
.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
    fill: currentColor;
}