.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin: 0px;
    padding-bottom: 50px;
    padding-top: 94px;
    text-align: center;
    color: var(--secondary-text-color)
}

.section-about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 50px;
}
