body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    line-height: 1.71;
    background-color: var(--primary-white-color)
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
}

.list-link {
    list-style: none;
    padding: 0 32px;
    margin-bottom: 30px;
    display: flex;
    @media screen and (min-width:480px) {
            padding-left: 110px;
        }
                @media screen and (min-width:768px) {
                   padding-left: 65px;
        
                }
                                @media screen and (min-width:1200px) {
                                    padding: 0;
                                    padding-left: 30px;
                                }
}